*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8e5e5;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    height: 100vh;
}

.sidebar {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
}

.sidebar>* {
    margin: 15px;
}

#signup>* {
    padding: 5px;
}

form {
    display: grid;
}

input {
    margin: 5px;
}

input:valid {
    border: 2px solid rgb(2, 53, 84);
}

input:invalid:required {

    border: 1.5px solid rgb(210, 74, 74);
}

/* input:invalid {
   
} */

.main {
    margin-left: 50px;
    margin-right: 50px;

}

.mainLabel {
    min-width: 950px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px 280px 160px 100px 50px;
    color: white;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
    background-color: rgb(2, 53, 84);
}

.book {
    height: 70px;
    border-bottom: 1px solid black;
    border-bottom-style: dotted;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 305px 280px 170px 110px 50px;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.book>* {
    margin: 5px;
    padding: 8px;

}

.remove:hover,
.onOff:hover {
    cursor: pointer;
}

.smaller {
    font-size: 10px;
}


label {
    color: black;
    font-size: 15px;
}

.onOff {
    color: rgb(181, 185, 182);
}

.on {
    color: green;
}

.submit {
    padding: 7px;
    color: rgb(2, 53, 84);
    border: 1.5px solid rgb(2, 53, 84);
    font-weight: 530;
    transition: .7s;
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(2, 53, 84);
    color: white;
}

.submit:active {
    transform: scale(.7);
}

.credit {
    justify-self: end;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
}

.hoverTitle .readTip,
.removeTip {
    visibility: hidden;
    position: absolute;
    right: 4em;
    top: .35em;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(2, 53, 84);
}

.hoverTitle .readTip,
.removeTip {
    visibility: hidden;
    position: absolute;
    right: 4em;
    top: .35em;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(2, 53, 84);
}

/* 
.hoverTitle:hover .readTip,
.hoverTitle:hover .removeTip {
    visibility: visible;
    cursor: pointer;
}
 */

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}



.footer a {
    text-decoration: none;
    color: black;

}


/* firebase */
.google {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3em;
}

.google>* {
    margin-right: 5px;
}

#user-pic {
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: 35px;
    border-radius: 20px;
}
